*{
    box-sizing: border-box;
    background-color: rgb(193, 193, 66);
    padding: 0px;
    margin: 0px;
}
.one{
    background-color: pink;
    border:5px solid blue;
    padding:32px;
    margin: 12px;
}
.two{
    background-color: aquamarine;
    border:5px solid purple;
    margin-bottom: 48px;
}
.three{
    background-color: blueviolet;
    border:5px solid brown;
    padding: 32px;
    margin-top: 0px;
    margin-left: 150px;
}